
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



:root {
 --main-color : black;
 --body-color : white;
 --section-color : yellow;
}

* {
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Roboto' , 'sans-serif' ;
}